.add-new-form {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    text-align: left;
    position: relative;
}

.add-new-form label {
    margin: 12px 0px;
}

.add-new-form button {
    width: 100px;
}

.add-new-form label select {
    position: absolute;
    left: 150px;
    width: 155px;
    height: 24px;
}

.add-new-form label input {
    position: absolute;
    left: 150px;
    height: 20px;
}