.profile-img {
    max-width: 100px;
}

.staff-details {
    text-align: left;
    margin-left: 10px;
}

.updates-card {
    border: 2px solid black;
    text-align: left;
    padding: 10px 5px 10px 10px;
}

.update-info {
    display: flex;
}

.update-name {
    margin: 0;
    padding: 10px;
}

.update-text {
    font-size: 25px;
    margin: 0;
    margin-bottom: 5px;
}

.update-img {
    max-width: 30px;
    max-height: 30px;
}

.concern-level span {
    display: inline-block;
    border-radius: 10px;
    padding: 7px;
    color: black;
    font-weight: bold;
    width: 70px;
    text-align: center;
    margin-right: 10px;
}

.update-section {
    display: flex;
    /* border: 2px solid blue; */
}

.update-author {
    margin: 0;
    color: gray;
}