.updates-section {
    /* border: 2px solid red; */
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.updates-section label {
    /* border: 2px solid red; */
    padding: 20px 0px;
}