.update {
    margin: 10px 0px;
}

.individual-update {
    border: 1px solid black;
    padding: 5px 10px;
}

.update p span {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.low p span {
    background-color: springgreen;
}

.medium p span {
    background-color: yellow;
}

.high p span{
    background-color: red;
}