.staff-feed {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.add-staff-btn {
    font-size: 30px;
    padding: 0px 10px 20px 10px;
    height: 35px;
    /* position: absolute; */
    /* right: 0; */
}

.staff-header {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.staff-header input {
    height: 29px;
}