.updates-form {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.updates-form label {
    margin: 10px;
}

.updates-form label select {
    position: absolute;
    left: 200px;
    width: 155px;
    height: 24px;
}

.updates-form label input {
    position: absolute;
    left: 200px;
    height: 20px;
}

.updates-form button {
    padding: 7px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 10px 10px;
}

.updates-form button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}